.container__question__choice {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  /* border: 0.1rem solid rgb(86, 165, 235, 0.25); */
  background-color: white;
  border-radius: 5px;
}

.container__question__choice:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(32, 250, 115, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.container__question__choice__prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56eb6a;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
}

.container__question__choice__txt {
  padding: 1.5rem;
  width: 100%;
}

/* styling correct and incorrect answer */
.correct {
  border: 1px solid #56eb6a;
}
.incorrect {
  border: 1px solid #fc0015;
}

/* styling status/progress update */
.container__question__status {
  display: flex;
  justify-content: space-evenly;
}
.container__question__item {
  display: flex;
}
.container__question__item__prefix {
  color: tomato;
  font-size: 24px;
  /* margin-right: 30px; */
}
.container__question__item__txt {
  color: rgb(57, 127, 233);
  font-size: 24px;
}

/* progress bar */
#container__progressbar {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  /* border: 1px solid #56eb6a; */
  margin-top: 1rem;
}
#progressbar {
  background-color: #56eb6a;
  width: 0%;
  height: 7px;
  border-radius: 5px;
  transition: all 2s;
}

/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #56eb6a;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40rem;
  left: 70rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
